body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0b1120;
  color: #cbd5e1;
}

.page {
  padding: 50px 60px;
  max-width: 1100px;
  margin: auto;
}

h1 {
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #e2e8f0;
}

.top-bar {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

button {
  border: 1px solid #2a3446;
  padding: 12px 18px;
  border-radius: 12px;
  background-color: #121826;
  color: #cbd5e1;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: #1a2233;
}

.card {
  background: #121826;
  padding: 25px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #2a3446;
}

.list-item {
  background: #161e2e;
  padding: 18px 20px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cbd5e1;
}

.row-actions button {
  margin-left: 8px;
}

input,
select {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #2a3446;
  margin-top: 10px;
  font-size: 15px;
  width: 100%;
  background: #0b1120;
  color: #cbd5e1;
}

input::placeholder {
  color: #7c8aa0;
}

.react-calendar {
  background: #121826;
  border-radius: 18px;
  padding: 15px;
  color: #cbd5e1;
  border: 1px solid #2a3446;
}

.react-calendar button:hover {
  transform: none;
}

.react-calendar__month-view__weekdays {
  margin-top: 15px;
  margin-bottom: 12px;
  text-align: center;
}

.tile-content {
  min-height: 60px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.tile-item {
  font-size: 11px;
  padding: 4px;
  border-radius: 6px;
  color: #cbd5e1;
  background: #1a2233;
  transition: 0.2s;
}


.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.auth-card {
  background: #121826;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #2a3446;
}

.setting-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #161e2e;
  padding: 16px 20px;
  border-radius: 14px;
  margin-top: 12px;
}

.setting-label {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #cbd5e1;
}

.setting-toggle {
  width: 54px;
  height: 30px;
  appearance: none;
  background: #3a4558;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.25s;
}

.setting-toggle:checked {
  background: #1d4ed8;
}

.setting-toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #e2e8f0;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.25s;
}

.setting-toggle:checked::before {
  transform: translateX(24px);
}